@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Apartments Project </h1>
    <p>We offer Apartments click here for mor details <a asp-controller="Apartments" asp-action="Index"> Go To Apartments</a> </p>

</div>
